<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    var main = {

        init : function() {
            var _this = this;  //이 this는 객체를 가리킨다.
            $('#btn-save').on('click' , function() {
                _this.save();

            });
            $('#btn-update').on('click' , function() {
                _this.update();

            })
            $('#btn-delete').on('click' , function() {
                _this.delete();

            })
        },
        save : function() {
            var data = {
                title: $('#title').val() ,
                author: $('#author').val() ,
                content: $('#content').val()
            };

            $.ajax({
                type: 'POST' ,
                url: '/api/v1/posts' ,
                dataType : 'json' ,
                contentType : 'application/json; charset=utf-8' ,
                data : JSON.stringify(data)
            }).done(function() {
                alert('글이 등록되었습니다.');
                window.location.href='/';

            }).fail(function(error) {
                alert(error.responseJSON.message);
            })
        },
        update : function() {
            var data = {
                title: $('#title').val() ,
                content: $('#content').val()
            };

            var id = $('#id').val();
            $.ajax({
                type: 'PUT' ,
                url: '/api/v1/posts/' + id ,
                dataType : 'json' ,
                contentType : 'application/json; charset=utf-8' ,
                data : JSON.stringify(data)
            }).done(function() {
                alert('글이 수정되었습니다.');
                window.location.href='/';

            }).fail(function(error) {
                alert(JSON.stringify(error));
            })
        }


        , delete : function() {

            var id = $('#id').val();
            $.ajax({
                type: 'DELETE' ,
                url: '/api/v1/posts/' + id ,
                dataType : 'json' ,
                contentType : 'application/json; charset=utf-8' ,
            }).done(function() {
                alert('글이 삭제되었습니다.');
                window.location.href='/';

            }).fail(function(error) {
                alert(JSON.stringify(error));
            })
        }

    };

    main.init();

</script>
</body>
</html>